@use "sass:string";
@use "../../../helpers" as *;

.root {
  &__section {
    &--grow {
      min-height: 60vh;
    }
  }

  &__body {
    @include grid-display;
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(auto);

    gap: var(--gutter-inline);
  }

  &__body-heading {
    @include grid-column(string.unquote("1 / 2"));
  }

  &__body-content {
    @include grid-column(string.unquote("2 / 3"));

    max-width: min(600px, 40vw);
  }
}
