@use "../../helpers" as *;

:root {
  --gutter-block: #{size(8)};
  --gutter-inline: #{size(4)};
  --c-bg: #fafafa;
  --c-text-main: #191919;
  --c-text-alt: #463e2f;
  --c-link: #ded3bf;
  --c-primary: #ded3bf;
  --c-footer-bg: #191919;
  --c-footer-fg: #fff;
  --c-footer-accent: #2a2a2a;

  @media (prefers-color-scheme: dark) {
    --c-bg: #141414;
    --c-text-main: #fafafa;
    --c-text-alt: #a0a0a0;
    --c-link: #2a2a2a;
    --c-primary: #191919;
  }
}
