@use "../../helpers" as *;

:root {
  --main-gutter: #{size(3)};

  --c-bg: #fff;
  --c-bg-tone: #f5f5f5;
  --c-text-main: #141414;
  --c-text-alt: #595959;
  --c-border: #e1e1e1;

  @media (prefers-color-scheme: dark) {
    --c-bg: #141414;
    --c-bg-tone: #111;
    --c-text-main: #fff;
    --c-text-alt: #a0a0a0;
    --c-border: #2d2d2d;
  }
}
