// Animate

// Helping classes used to animate elements.

.animate {
  $animation-load-delay: 400ms;

  // Main
  $animation-content-duration: 400ms;
  $animation-avatar-delay: $animation-load-delay + $animation-content-duration - 250ms;
  $animation-avatar-duration: 300ms;
  $animation-cubic-bezier: cubic-bezier(0.47, 1.64, 0.41, 0.8);

  &--main-avatar {
    @include transform(scale(0));
    animation: no-transform $animation-avatar-duration
      $animation-cubic-bezier $animation-avatar-delay forwards;
  }

  &--main-content {
    @include transform(translateX(-80px));
    animation: no-transform $animation-content-duration $animation-cubic-bezier
      $animation-load-delay forwards;
  }

  // Content blocks
  $animation-block-delay: 150ms;
  $animation-block-content-delay: 50ms;
  $animation-block-duration: 400ms;
  $animation-block-transform: size(10);
  $animation-about-delay: $animation-load-delay;
  $animation-projects-delay: $animation-about-delay + $animation-block-delay;
  $animation-follow-delay: $animation-projects-delay + $animation-block-delay;

  &--block {
    @include transform(translateY($animation-block-transform));
    opacity: 0;
    animation: no-transform $animation-block-duration ease forwards, fade-in $animation-block-duration ease forwards;
  }

  &--about-heading {
    animation-delay: $animation-about-delay;
  }

  &--about-content {
    animation-delay: $animation-about-delay + $animation-block-content-delay;
  }

  &--projects-heading {
    animation-delay: $animation-projects-delay;
  }

  &--projects-content {
    animation-delay: $animation-projects-delay + $animation-block-content-delay;
  }

  &--projects-list {
    animation-delay: $animation-projects-delay + ($animation-block-content-delay * 2);
  }

  &--follow-heading {
    animation-delay: $animation-follow-delay;
  }

  &--follow-content {
    animation-delay: $animation-follow-delay + $animation-block-content-delay;
  }
}
