// Avatar

// SCSS used to style the appearance of the avatar component.

.avatar {
  $avatar-size: size(6);

  @include var(background-color, text-alt);
  display: block;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: size(1);

  &__shirt {
    fill: #{map-get($color-avatar, shirt)};
  }

  &__neck {
    fill: #{map-get($color-avatar, neck)};
  }

  &__head {
    fill: #{map-get($color-avatar, head)};
  }

  &__hair {
    fill: #{map-get($color-avatar, hair)};
  }
}
