// Avatar

// SCSS used to style the appearance of the avatar component.

.avatar {
  display: block;
  border-radius: 50%;
  background-color: var(--c-text-alt);
}

.avatar__shirt {
  fill: #{map-get($color-avatar, shirt)};
}

.avatar__neck {
  fill: #{map-get($color-avatar, neck)};
}

.avatar__head {
  fill: #{map-get($color-avatar, head)};
}

.avatar__hair {
  fill: #{map-get($color-avatar, hair)};
}
