.avatar {
  display: block;
  border-radius: 50%;
  background-color: var(--c-avatar-bg);
}

.avatar__shirt {
  fill: var(--c-avatar-shirt);
}

.avatar__neck {
  fill: var(--c-avatar-neck);
}

.avatar__head {
  fill: var(--c-avatar-head);
}

.avatar__hair {
  fill: var(--c-avatar-hair);
}
