// Link List

// Styling used to create a list of links.

.link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-list__item {
  & + .link-list__item {
    margin-top: calc(var(--gutter) * 0.5);
  }
}
