// Overflow

// Horizontal scrollable list of items.

.overflow {
  overflow: hidden;
  margin-top: size(2);
  margin-left: size(-5);
  margin-right: size(-5);

  @media (max-width: $breakpoint) {
    margin-left: size(-3);
    margin-right: size(-3);
  }

  &__list {
    @include flex-display;
    @include align-items(stretch);
    list-style: none;
    padding: 0 size(5);
    margin: 0 size(-1);
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: size(5);

    &::after {
      content: '';
      display: block;
      flex-shrink: 0;
      width: size(5);
      margin-right: size(-5);
    }

    @media (max-width: $breakpoint) {
      padding: 0 size(3);
      margin: 0 size(-0.75);
      scroll-padding-left: size(3);

       &::after {
        width: size(3);
        margin-right: size(-3);
      }
    }
  }

  &__item {
    @include flex(1 0 auto);
    padding: 0 size(1);
    scroll-snap-align: start;
    width: 100%;
    max-width: 100%;

    @media (max-width: $breakpoint) {
      padding: 0 size(0.75);
    }

    @media (min-width: 800px) {
      width: 50%;
    }

    @media (min-width: 1100px) {
      width: 33.333%;
    }

    @media (min-width: 1300px) {
      width: 25%;
    }
  }
}
