// Overflow

// Horizontal scrollable list of items.

.overflow {
  $itemSpacing: size(2);
  $itemSpacingMobile: size(1.5);
  $scrollbarHeight: 2px;

  margin-top: $itemSpacing;

  @media (max-width: $breakpoint) {
    padding-top: $itemSpacingMobile;
    padding-bottom: ($itemSpacingMobile + $scrollbarHeight);
    margin-top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &::-webkit-scrollbar {
    height: $scrollbarHeight;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: size(5) solid transparent;
    background-clip: padding-box;

    @media (max-width: $breakpoint) {
      border-width: size(3);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #efefef;

    @media (prefers-color-scheme: dark) {
      background-color: #191919;
    }
  }

  &::-webkit-scrollbar-thumb {
    @include var(background-color, text-alt);
  }

  .page-section & {
    @media (max-width: $breakpoint) {
      margin: 0 size(-3);
    }
  }

  &__list {
    @include flex-display;
    @include align-items(stretch);
    @include flex-wrap(wrap);
    position: relative;
    list-style: none;
    padding: 0;
    margin: (($itemSpacing / 2) * -1);

    @media (max-width: $breakpoint) {
      @include flex-wrap(nowrap);
      padding-left: size(3);
      margin: 0;

      &:after {
        @include flex-shrink(0);
        content: "";
        width: size(3);
        height: 1px;
      }
    }
  }

  &__item {
    @include flex-shrink(0);
    width: 375px;
    padding: ($itemSpacing / 2);

    @media (max-width: $breakpoint) {
      width: calc(100% - #{size(3)});
      padding: 0;

      & + & {
        padding-left: $itemSpacingMobile;
      }
    }
  }
}
