.page-section {
  padding: calc(var(--gutter) * 5);

  @media (max-width: $breakpoint) {
    padding: calc(var(--gutter) * 5) calc(var(--gutter) * 3);
  }

  & + .page-section {
    padding-top: 0;
  }
}

.page-section-main {
  @include flex-display;
  @include flex-direction(column);
  @include justify-content(center);
  min-height: 80vh;

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--c-text-alt);
  }
}

.page-section-content {
  max-width: 500px;

  > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
