// Page Section

// This component is used to structure the core building
// blocks used in this project.

.page-section {
  $root: &;

  padding: size(5);

  @media (max-width: $breakpoint) {
    padding: size(5) size(3);
  }

  & + & {
    padding-top: 0;
  }

  &--main {
    @include flex-display;
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 70vh;

    #{$root} {
      &__content {
        @include position-sticky;
        top: size(5);
        max-width: none;
      }
    }

    p {
      @include var(color, text-alt);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--lazy {
    content-visibility: auto;
  }

  &__content {
    max-width: 500px;

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
