@use "../../../helpers" as *;

.overflow-grid {
  --overflow-grid-item-width: 80%;

  margin: 0 calc(var(--main-gutter) * -1);

  &__list {
    @include flex-display;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--c-border);
    border-bottom: 1px solid var(--c-border);
    overflow: auto;
    overscroll-behavior-x: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    @include flex(1 0 auto);
    width: var(--overflow-grid-item-width);
    max-width: var(--overflow-grid-item-width);

    & + & {
      border-left: 1px solid var(--c-border);
    }
  }
}
