@use "../../../helpers" as *;

.overflow-grid {
  --number-of-items: 1;
  --item-spacing: calc(var(--gutter-inline) / 2);
  --overflow-grid-item-width: calc( (100% / var(--number-of-items)) - ((var(--item-spacing) * (var(--number-of-items) - 1)) / var(--number-of-items)));

  margin: 0 calc(var(--gutter-inline) * -1);

  &__list {
    @include flex-display;

    list-style: none;
    padding: 0 var(--gutter-inline);
    margin: 0;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--gutter-inline);
    scroll-padding-right: var(--gutter-inline);
    overscroll-behavior-x: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    @include flex(1 0 auto);

    width: var(--overflow-grid-item-width);
    max-width: var(--overflow-grid-item-width);
    scroll-snap-align: start;

    & + & {
      margin-left: calc(var(--gutter-inline) / 2);
    }
  }
}
