// Base

// This file includes styling for the documents base elements.
// All selectors should target elements directly.

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--c-bg);
  color: var(--c-text);
  font-size: 1rem;
  line-height: 1.6;
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--c-selection-bg);
  color: var(--c-selection-text);
}

::-moz-selection {
  background: var(--c-selection-bg);
  color: var(--c-selection-text);
}
