// Base

// This file includes styling for the documents base elements.
// All selectors should target elements directly.

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include flex-display; // Required to get flexbox to work with min-height in IE
  @include flex-direction(column); // Required to get flexbox to work with min-height in IE
  @include var(background-color, bg);
  @include var(color, text);
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #{map-get($color-selection, bg)};
  color: #{map-get($color-selection, text)};
}

::-moz-selection {
  background: #{map-get($color-selection, bg)};
  color: #{map-get($color-selection, text)};
}
