// Print

// Specific styling for print.

@media print {
  // sass-lint:disable-block no-important

  * {
    color: #{map-get($color-print, text)} !important;
    font-size: 10pt !important;
  }

  body {
    background-color: #{map-get($color-print, bg)};
  }

  .no-print {
    display: none !important;
  }

  .page-section {
    padding: 0 !important;
    margin-top: 1cm;

    &--main {
      min-height: 0 !important;
    }

    &__content {
      max-width: none !important;
    }
  }

  a {
    text-decoration: none;

    // Print URL to links
    &:after {
      content: '('attr(href)')';
      margin-left: 0.5ch;
    }
  }
}
