// Reset

// This file contains styling to reset browser specific
// element styling.

abbr {
  &[title] {
    border-bottom: 0;
    text-decoration: none;
    cursor: inherit;
  }
}

::selection {
  background-color: var(--c-selection-bg);
  color: var(--c-selection-text);
}

::-moz-selection {
  background-color: var(--c-selection-bg);
  color: var(--c-selection-text);
}
