// Typography

// Styling for typographical elements should be declared in this file.
// All selectors should target elements directly and be general to all
// of the specific elements used in this project.

h1,
h2 {
  font: inherit;
  font-size: 1rem;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  word-spacing: -1ch;

  &:before {
    content: '@';
  }
}

h2 {
  color: var(--c-text-alt);
  margin-top: 0;
  margin-bottom: gutter(1);

  &:before {
    content: '#';
  }
}

p {
  margin-top: gutter(1);
  margin-bottom: gutter(1);
}

a {
  &,
  &:visited {
    color: var(--c-text);
  }

  // Hover on pointing device units only
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--c-text-alt);
    }
  }
}
