// Typography

// Styling for typographical elements should be declared in this file.
// All selectors should target elements directly and be general to all
// of the specific elements used in this project.

h1,
h2 {
  font: inherit;
  font-size: 1em;
  margin: 0;
  text-transform: lowercase;
}

h1 {
  word-spacing: -0.25em; // 0.25em is default word-spacing

  &:before {
    content: '@';
  }
}

h2 {
  @include var(color, text-alt);
  margin-top: 0;
  margin-bottom: size(1);

  &:before {
    content: '#';
  }
}

p {
  margin-top: size(1);
  margin-bottom: size(1);
}

a {
  &,
  &:visited {
    @include var(color, text);
  }
}
