// Variables

// This file contains variables for global settings.
// SCSS variables is used to declare the values and then
// used as CSS variables in this project.

// Map containing theme colors
$color-theme: (
  light: (
    bg: #fff,
    text: #333,
    text-alt: #757575
  ),
  dark: (
    bg: #1d1c1c,
    text: #fff,
    text-alt: #8c8c8c
  )
);

// Map containing colors for text selection
$color-selection: (
  bg: #0000ff,
  text: #fff
);

// Map containing colors for print
$color-print: (
  bg: #fff,
  text: #000
);

// Map containing colors for avatar
$color-avatar: (
  shirt: #000,
  neck: #bea37c,
  head: #cfb899,
  hair: #3a3022
);

// Base unit
$baseUnit: 10px;

// Breakpoint
$breakpoint: 500px;

// Native dark theme
:root {
  @media (prefers-color-scheme: dark) {
    --c-bg: #{map-deep-get($color-theme, dark, bg)};
    --c-text: #{map-deep-get($color-theme, dark, text)};
    --c-text-alt: #{map-deep-get($color-theme, dark, text-alt)};
  }
}
