// Colors
$c-bg: #fff;
$c-text: #333;
$c-text-light: #ccc;
$c-selection-bg: #0000ff;
$c-selection-text: #fff;

// Gutter
$gutter: 10px;

// Breakpoint
$breakpoint: 500px;

:root {
  --c-bg: #{$c-bg};
  --c-text: #{$c-text};
  --c-text-light: #{$c-text-light};
  --c-selection-bg: #{$c-selection-bg};
  --c-selection-text: #{$c-selection-text};
  --gutter: #{$gutter};
}
