// Theme: Light (default)
$c-light-bg: #fff;
$c-light-text: #333;
$c-light-text-alt: #ccc;
$c-light-link: #0000ee;

// Theme: Dark
$c-dark-bg: #111;
$c-dark-text: #fff;
$c-dark-text-alt: #808080;
$c-dark-link: #0086da;

// Selection
$c-selection-bg: #0000ff;
$c-selection-text: #fff;

// Avatar
$c-avatar-bg: #fff;
$c-avatar-shirt: #000;
$c-avatar-neck: #bea37c;
$c-avatar-head: #cfb899;
$c-avatar-hair: #3a3022;

// Gutter
$gutter: 10px;

// Breakpoint
$breakpoint: 500px;

:root {
  --c-bg: #{$c-light-bg};
  --c-text: #{$c-light-text};
  --c-text-alt: #{$c-light-text-alt};
  --c-link: #{$c-light-link};
  --c-selection-bg: #{$c-selection-bg};
  --c-selection-text: #{$c-selection-text};
  --c-avatar-bg: #{$c-avatar-bg};
  --c-avatar-shirt: #{$c-avatar-shirt};
  --c-avatar-neck: #{$c-avatar-neck};
  --c-avatar-head: #{$c-avatar-head};
  --c-avatar-hair: #{$c-avatar-hair};
  --gutter: #{$gutter};

  @media (prefers-color-scheme: dark) {
    --c-bg: #{$c-dark-bg};
    --c-text: #{$c-dark-text};
    --c-text-alt: #{$c-dark-text-alt};
    --c-link: #{$c-dark-link};
  }
}
