@use "../../../helpers" as *;

.header {
  --header-gutter-block: calc(var(--gutter-block) / 2);
  --header-gutter-inline: var(--gutter-inline);

  padding: var(--header-gutter-block) var(--header-gutter-inline) 0 var(--header-gutter-inline);

  &__heading {
    font-size: 1.25rem;
    line-height: 1;
    color: var(--c-text-alt);
    text-transform: lowercase;
    word-spacing: -0.25em;
  }
}
