/// Styling used in the print media query

@use "../../helpers" as *;

* {
  &:not(html, body) {
    display: none;
  }
}

html,
body {
  height: 100%;
}

body {
  @include flex-display;
  @include align-items(center);
  @include justify-content(center);
  font-size: 12pt;
  background-color: #fff;
  color: #000;

  &::before {
    content: "Please don't print this page.";
  }
}
